    <style>

        .container-body-about {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            line-height: 1.6;
        }
        .signature {
            text-align: center;
            margin-top: 20px;
        }
    </style>
<body>
    <div class="container-body-about">
        <h1>About Me</h1>
        <p>
            My name is Vu, currently a third-year student at FPT University. I always strive to contribute to the IT community by creating meaningful and useful products. 
            I believe that my creations will help people develop further.
        </p>
        <p>
            For this reason, I have created the BW Sharing website with the hope of helping people share valuable and meaningful images, videos about skills, subjects, and life... 
            My goal is to create a community where everyone can interact, learn, and share knowledge with each other.
        </p>
        <div class="signature">
            <p>Sincerely,</p>
            <p>Vu</p>
        </div>
    </div>
</body>
</html>
