    <style>

        .container-body-about {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            line-height: 1.6;
        }
        .signature {
            text-align: center;
            margin-top: 20px;
        }
    </style>
<body>
    <div class="container-body-about">
        <h1>Giới thiệu về tôi</h1>
        <p>
            Tôi là Vũ, đang sinh viên năm 3 tại Đại Học FPT. Tôi luôn muốn góp phần vào cộng đồng IT bằng cách tạo ra những sản phẩm ý nghĩa và hữu ích. 
            Tôi tin rằng những sản phẩm của tôi sẽ giúp ích mọi người phát triển hơn.
        </p>
        <p>
            Vì lẽ đó, tôi đã tạo ra website BW Sharing với hy vọng giúp mọi người chia sẻ những hình ảnh, video bổ ích và ý nghĩa về kỹ năng, môn học, đời sống... 
            Mục tiêu của tôi là tạo ra một cộng đồng nơi mọi người có thể tương tác, học hỏi và chia sẻ kiến thức với nhau.
        </p>
        <div class="signature">
            <p>Xin chân thành cảm ơn,</p>
            <p>Vũ</p>
        </div>
    </div>
</body>
</html>
