<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .container-body-about {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        h1 {
            color: #333;
        }
        .contact-info {
            margin-top: 20px;
        }
        .contact-info p {
            margin-bottom: 10px;
        }
        .social-icons {
            margin-top: 20px;
        }
        .social-icons a {
            color: #333;
            text-decoration: none;
            font-size: 24px;
            margin: 0 10px;
        }
        .profile-image {
            margin: 10px;
            border-radius: 50%;
            width: 100px; /* Điều chỉnh kích thước hình ảnh tại đây */
            height: 100px;
            object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
        }        
    </style>
</head>
<body>
    <div class="container-body-about">
        <h1>Contact</h1>
        <div class="contact-info">
        <img src="img/profile_image.png" class="profile-image" alt="Profile Image">
            <p>Đỗ Huỳnh Nguyên Vũ</p>
            <p><i class="fas fa-phone"></i> 0834.123.333</p>
            <p class="far fa-envelope"> bwfnguyenvu@gmail.com</p>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/BWNguyenVu.3333/"><i class="fab fa-facebook"></i></a>
            <a href="https://github.com/BWNguyenVu"><i class="fab fa-github"></i></a>
            <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJvlHXqtKPTKFLBtmlxfTDwgfQbbWxwcsMrlHMSVCfRnfpMrZGVPqRpGsVPfXDxcJNMDlBq"><i class="far fa-envelope"></i></a>
        </div>
    </div>
</body>
</html>
